body {
    text-align: center;
}
.btn{
    height: 200px;
    width:200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;

}

.btn-container {
    display: flex;
    justify-content: center;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: rgb(133, 241, 245);
}
.orange{
    background-color: rgb(245, 124, 10);
}
.flash{
    background-color: aliceblue;
}